@model IEnumerable<TravelAndTourismWebsite.Models.HotelReservation>
@using TravelAndTourismWebsite.Resources
@{
    ViewBag.Title = Resource.Reports;
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header-wrapper">
            <img src="~/Images/lobby5.jpg" class="header-image" />
            <div class="header-contents">
                <h2>
                    <span class="glyphicon glyphicon-signal"></span>
                    @Resource.Reports
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-4">
                @using(Ajax.BeginForm("Report", "Admin", new AjaxOptions {
                        HttpMethod = "GET",
                        UpdateTargetId = "tar",
                        LoadingElementId = "loadingBox",
                        InsertionMode = InsertionMode.Replace
                 }))
                { 
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-bed"></span>
                    </span>
                    @Html.DropDownList("Hotels", null, Resource.ChooseHotel, new { @class = "form-control" })
                    <button type="submit" class="btn btn-primary">
                        @Resource.Search
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                       
                }
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="text-center" id="loadingBox">
                    <img src="~/Images/ajax-loader.gif" style="display:none;" id="WaitingImg" />
                </div>
                <div id="tar">
                   
                </div>
            </div>
        </div>
    </div>
</div>
