@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = TravelAndTourismWebsite.Resources.Resource.Error;
}

<h1 class="text-danger">@TravelAndTourismWebsite.Resources.Resource.Error</h1>
<h2 class="text-danger">@TravelAndTourismWebsite.Resources.Resource.ErrorOccured</h2>

