@model TravelAndTourismWebsite.Models.ResetPasswordViewModel
@using TravelAndTourismWebsite.Resources
@{
    ViewBag.Title = Resource.ResetPassword;
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header-wrapper">
            <img src="~/Images/pwd.png" class="header-image" />
            <div class="header-contents">
                <h2>
                    <span class="glyphicon glyphicon-eye-close"></span>
                    @Resource.ResetPassword
                </h2>
            </div>
        </div>
    </div>
</div>


<div id="DivRstPwd">
    @Html.Partial("_ResetPasswordPartial", Model)
</div>
